@import '../helpers/mixins';
@import '../others/typography';

.container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1160px;


  @include desktop {
    max-width: 1160px;
  }

  @include laptop {
    max-width: 768px;
  }

  @include tablet {
    max-width: 600px;
  }

  @include mobile {
    max-width: 100%;
  }
}


