@import '../helpers/mixins';
@import '../helpers/variables';


h1 {
  @include font-size($fs-1-desktop);
  @include desktop {
    @include font-size($fs-1-desktop);
  }

  @include laptop {
    @include font-size($fs-1-laptop);
  }

  @include tablet {
    @include font-size($fs-1-tablet);
  }

  @include mobile {
    @include font-size($fs-1-mobile);
  }
}

h2 {
  @include font-size($fs-2-desktop);
  @include desktop {
    @include font-size($fs-2-desktop);
  }

  @include laptop {
    @include font-size($fs-2-laptop);
  }

  @include tablet {
    @include font-size($fs-2-tablet);
  }

  @include mobile {
    @include font-size($fs-2-mobile);
  }
}

h3 {
  @include font-size($fs-3-desktop);
  @include desktop {
    @include font-size($fs-3-desktop);
  }

  @include laptop {
    @include font-size($fs-3-laptop);
  }

  @include tablet {
    @include font-size($fs-3-tablet);
  }

  @include mobile {
    @include font-size($fs-3-mobile);
  }
}

h4 {
  @include font-size($fs-4-desktop);
  @include desktop {
    @include font-size($fs-4-desktop);
  }

  @include laptop {
    @include font-size($fs-4-laptop);
  }

  @include tablet {
    @include font-size($fs-4-tablet);
  }

  @include mobile {
    @include font-size($fs-4-mobile);
  }
}

h5 {
  @include font-size($fs-5-desktop);
  @include desktop {
    @include font-size($fs-5-desktop);
  }

  @include laptop {
    @include font-size($fs-5-laptop);
  }

  @include tablet {
    @include font-size($fs-5-tablet);
  }

  @include mobile {
    @include font-size($fs-5-mobile);
  }
}

h6 {
  @include font-size($fs-6-desktop);
  @include desktop {
    @include font-size($fs-6-desktop);
  }

  @include laptop {
    @include font-size($fs-6-laptop);
  }

  @include tablet {
    @include font-size($fs-6-tablet);
  }

  @include mobile {
    @include font-size($fs-6-mobile);
  }
}

p, div, span {
  @include font-size($fs-6-desktop);
  @include desktop {
    @include font-size($fs-6-desktop);
  }

  @include laptop {
    @include font-size($fs-6-laptop);
  }

  @include tablet {
    @include font-size($fs-6-tablet);
  }

  @include mobile {
    @include font-size($fs-6-mobile);
  }
}

a {
  @include font-size($fs-7-desktop);
  @include desktop {
    @include font-size($fs-7-desktop);
  }

  @include laptop {
    @include font-size($fs-7-laptop);
  }

  @include tablet {
    @include font-size($fs-7-tablet);
  }

  @include mobile {
    @include font-size($fs-7-mobile);
  }
}



