@import './functions';

@mixin desktop {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin font-size($font-size) {
  font-size: $font-size * 1px !important;
  line-height: line-height($font-size) * 1px !important;
}