$primary-dark: #000000;
$primary-light: #E8E8E2;

$fs-1-desktop: 60;
$fs-2-desktop: 48;
$fs-3-desktop: 36;
$fs-4-desktop: 28;
$fs-5-desktop: 22;
$fs-6-desktop: 18;
$fs-7-desktop: 16;

$fs-1-laptop: 50;
$fs-2-laptop: 44;
$fs-3-laptop: 32;
$fs-4-laptop: 26;
$fs-5-laptop: 20;
$fs-6-laptop: 16;
$fs-7-laptop: 14;

$fs-1-tablet: 44;
$fs-2-tablet: 38;
$fs-3-tablet: 28;
$fs-4-tablet: 24;
$fs-5-tablet: 18;
$fs-6-tablet: 16;
$fs-7-tablet: 14;

$fs-1-mobile: 40;
$fs-2-mobile: 32;
$fs-3-mobile: 24;
$fs-4-mobile: 22;
$fs-5-mobile: 16;
$fs-6-mobile: 16;
$fs-7-mobile: 14;