@import './helpers/mixins';
@import './helpers/variables';

.about {
  padding: 120px 0;
  display: flex;
  gap:90px;

  .photo {
    position: relative;
    background-color: #aaaaaa;
    width: 100%;
    height: 600px;
    flex: 1;

    h1 {
      position: absolute;
      margin-top: 60px;
      left: 85%;
      white-space: nowrap;
      z-index: 5;
      background-color: $primary-light;
      padding: 5px 15px;
    }
  }

  .description {
    margin-top: 160px;
    position: relative;
    flex: 1;

    p {
      margin-top: 20px;
    }

    .salutation {
      margin-top: 20px;
      p {
        margin: 0;
      }
    }

    .butterfly {
      display: inline-block;
      position: relative;
      margin-right: 5px;
      padding-top: 50px;
      width: 80px;
      height: 80px;
    }
  }

  @include laptop {
    padding: 80px 0;
    gap: 40px;

    .photo {
      height: 400px;
    }
  }

  @include tablet {
    padding: 60px 0;
    flex-direction: column;

    .photo {
      aspect-ratio: 1.25;
      h1 {
        display: block;
        top: 100%;
        left: 0%;
        padding: unset;
        margin-top: 20px;
      }
    }

    .description {
      margin-top: 30px;
      .butterfly {
        display: none;
      }
    }
    
  }

  @include mobile {
    padding: 40px 0;
  }
  
}

