@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import './helpers/variables';
@import './others/base.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: $primary-light;
  color: $primary-dark;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;

  &.active {
    font-weight: 700;
  }
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}
