@import './helpers/mixins';

.introduction {
  padding: 120px 0;
  white-space: pre-wrap;
  h1 {
    white-space: pre-wrap;
    font-weight: 700;
    position: relative;
    svg {
      @include mobile {
        display: none;
      }
    }
    .butterfly {
      display: inline-block;
      position: relative;
      margin-right: 5px;
      padding-top: 10px;
      width: 80px;
      height: 80px;

      @include laptop {
        width: 70px;
        height: 70px;
      }
      @include tablet {
        padding-top: 0px;
        width: 50px;
        height: 50px;
      }
      @include mobile {
        width: 50px;
        height: 50px;
      }
    }

  }
  p {
    margin-top: 40px;
    white-space: pre-wrap;
  }

  .arrow {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-left: -20px;
    margin-top: 50px;
  }

  @include mobile {
    padding: 80px 0;
  }
}
