@import './helpers/mixins';
@import './helpers/variables';
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-top: 20px;
  div {
    font-weight: 700;
    .logo {
      @include font-size($fs-3-desktop);
    }
  }

  ul {
    display: flex;

    li:not(:last-of-type) {
      margin-right: 50px;
    }
  }

  .menu {
    display: none;
  }
}


@include mobile {
  .nav {
    height: 60px;
    margin-top: 10px;
    ul {
     display: none;
    }

    ul.open {
     z-index: 1000;
     display: flex;
     position: fixed;
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
     top: 0px;
     left: 0px;
     justify-content: center;
     align-items: center;
     gap: 40px;
     flex-direction: column;
     background-color: $primary-light;
      li {
        margin-right: 0 !important;
        a {
          @include font-size($fs-4-mobile);
        }
      }
    }
    .menu {
      display: inline-block;
      z-index: 1000;
    }
  }
}