@import './helpers/mixins';
@import './helpers/variables';

.item {
  width: 100%;
  aspect-ratio: 2.25;
  display: block;
  margin-bottom: 80px;
  position: relative;
  cursor: pointer;

  .overlay {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    top: 0%;
    left: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    opacity: 0.8;

    h3 {
      margin: 0;
    }
  }

  .image {
    opacity: 0.1;
  }

  @include laptop {
    aspect-ratio: 2;
    margin-bottom: 70px;

  }

  @include tablet {
    aspect-ratio: 1.75;
    margin-bottom: 60px;

  }
}

